# .env.sample

TENANT_ID="your-tenant-id"
TENANT_NAME="your-tenant-name"
MY_ID="your-user-object-id"

# Agent Identity Blueprint
AGENT_ID_BP_NAME="My Agent Identity Blueprint"

# Agent Identity
AGENT_ID_NAME="My Agent Identity"

# Agent User (Autonomous Agent User Flow 用)
AGENT_ID_USER_NAME="My Agent Identity User"
AGENT_ID_USER_UPN="myagentiduserupn"
AGENT_ID_USER_OAUTH2_PERMISSION_GRANTS="User.Read Mail.Read"

## Manual edit: obtained after running create-agent-id-blueprint.http
AGENT_ID_BP_SECRET=""

## The following values will be populated after running get-*.py and setup-*.py scripts
CLIENT_ID=
MS_GRAPH_SP_ID=
AGENT_ID_USER_APP_ROLE_ID=
ACCESS_TOKEN=
