# .env

# Common
ENTRA_TENANT_ID=

# Frontend
ENTRA_SPA_APP_CLIENT_ID=

# Frontend and Resource API
RESOURCE_API_URL=http://localhost:8000
ENTRA_RESOURCE_API_CLIENT_ID=
ENTRA_RESOURCE_API_SCOPE=
ENTRA_RESOURCE_API_DEFAULT_SCOPE=

# Entra Agent ID
ENTRA_AGENT_BLUEPRINT_IDENTITY_CLIENT_ID=
ENTRA_AGENT_IDENTITY_CLIENT_ID=
ENTRA_AGENT_ID_USER_UPN=

# Foundry Project
FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_MODEL_DEPLOYMENT_NAME=
FOUNDRY_PROJECT_MSI=

# Foundry Agent
FOUNDRY_AGENT_NAME=demo-entra-agent-id
FOUNDRY_AGENT_HOST_CPU=1
FOUNDRY_AGENT_HOST_MEMORY=2Gi
FOUNDRY_AGENT_ACR_LOGIN_SERVER=
