# .env

# Azure variables
AZURE_RESOURCE_GROUP=
AZURE_SUBSCRIPTION_ID=
AZURE_LOCATION=

# Common
ENTRA_TENANT_ID=

# Frontend
FRONTEND_SPA_APP_URL=
ENTRA_SPA_APP_CLIENT_ID=

# Frontend and Resource API
RESOURCE_API_URL=http://localhost:8000
ENTRA_RESOURCE_API_CLIENT_ID=
ENTRA_RESOURCE_API_SCOPE=
ENTRA_RESOURCE_API_DEFAULT_SCOPE=

# Backend API
BACKEND_API_URL=
ENTRA_BACKEND_API_FOUNDRY_ACCESS_CLIENT_ID=

# Entra Agent ID
ENTRA_AGENT_BLUEPRINT_IDENTITY_CLIENT_ID=
ENTRA_AGENT_IDENTITY_CLIENT_ID=
ENTRA_AGENT_ID_USER_DISPLAY_NAME=Foundry Agent User
ENTRA_AGENT_ID_USER_UPN=foundry-agent-user@<your_tenant_domain>

# Foundry Project
FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_MODEL_DEPLOYMENT_NAME=
FOUNDRY_PROJECT_MSI=
FOUNDRY_AGENT_ACR_LOGIN_SERVER=

# Graph API Operation ID
# This is used for registering Foundry Project MSI Federation to Blueprint Identity.
GRAPH_API_OPS_CLIENT_ID=
